@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|Montserrat|Roboto+Mono&display=swap");

/* Color Scheme */
$white: #FFFFFF;
$black: #000000;

$color1: #9E2A2B; //background
$color2: #540B0E; //blocks, divs
$color3: #FFF3B0; //navbar
$color4: #E09F3E; //yellow highlight
$color5: #335C67; //blue highlight

/* Font Family */
$font-size: 18px;
$font1: Noto Sans, sans-serif;
$font2: Oswald, sans-serif;
$font3: Montserrat, sans-serif;
$font4: Roboto Mono, sans-serif;