@media screen {
          #BlogPosts {
                    border-left: 13px solid $color5;
                    position: relative;
                    margin-left: 30px;
                    #Post {
                              position: relative;
                              margin: auto -30px 50px -42px;
                              .Category {
                                        position: relative;
                                        width: 260px;
                                        left: 10px;
                                        margin-top: 30px;
                                        display: flex;
                                        flex-direction: row;
                                        .CategoryBtn {
                                                  display: inline-block;
                                                  width: 3.2rem;
                                                  height: 3rem;
                                                  background-color: $color5;
                                                  border: 1px solid $white;
                                                  border-radius: 50%;
                                                  z-index: 2;
                                                  .CategoryImage {
                                                            display: block;
                                                            margin: 5px auto 0 auto;
                                                            width: 2.2rem;
                                                            height: 2.2rem;
                                                            filter: invert(90%);
                                                  }
                                        }
                                        .CategoryName {
                                                  background-color: $color5;
                                                  color: $color4;
                                                  border-radius: 0 30px 30px 0;
                                                  margin: 7px 0 10px -20px;
                                                  padding: 7px 17px 7px 25px;
                                                  z-index: 1;
                                                  &:hover {
                                                            color: $white;
                                                            transition: 0.4s;
                                                  }
                                                  &:not(hover) {
                                                            color: $color3;
                                                            transition: 0.4s;
                                                  }
                                        }
                              }
                              .BlogPostImage {
                                        width: calc(100vw - 100px);
                                        object-fit: cover;
                                        border: 3px solid $white;
                                        border-radius: 5px;
                                        margin: 15px 30px auto 70px;
                              }
                              .BlogPostDetails {
                                        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 60px), 0 100%);
                                        background: linear-gradient($color1, 5%, $color2);
                                        margin: 10px 40px auto 50px;
                                        padding-bottom: 50px;
                                        .Title {
                                                  font-weight: bold;
                                                  font-size: 6vw;
                                                  color: $color4;
                                                  margin-left: 10px;
                                                  margin-right: 20px;
                                                  padding: 0 0 20px 10px;
                                        }
                                        .Date {
                                                  font-family: $font4;
                                                  font-size: 2.2vw;
                                                  color: $color3;
                                                  margin: -15px 20px 20px 20px;
                                        }
                                        .TagList {
                                                  display: flex;
                                                  flex-direction: column;
                                                  .TagName {
                                                            background-color: $color3;
                                                            border-radius: 10px;
                                                            margin: 5px auto 5px 20px;
                                                            padding: 5px;
                                                            font-size: 2.2vw;
                                                            a {
                                                                      text-decoration: none;
                                                                      color: $black;
                                                            }
                                                            &:hover {
                                                                      background-color: $color5;
                                                                      a {
                                                                                color: $white;
                                                                      }
                                                                      transition: 0.4s;
                                                            }
                                                            &:not(hover) {
                                                                      background-color: $color3;
                                                                      a {
                                                                                color: $black;
                                                                      }
                                                                      transition: 0.25s;
                                                            }
                                                  }
                                        }
                                        .Content {
                                                  font-family: $font1;
                                                  font-size: 2.6vw;
                                                  margin: 40px 20px 150px 20px;
                                                  .inpost-image {
                                                            width: 70%;
                                                            height: auto;
                                                            display: block;
                                                            margin: auto;
                                                  }
                                                  .image-caption {
                                                            font-family: $font4;
                                                            font-style: italic;
                                                            font-size: 2vw;
                                                            color: $color3;
                                                            margin: 10px 30px 50px 30px;
                                                  }
                                        }
                                        .PrevNextPosts {
                                                  margin-bottom: 120px;
                                                  .SeePreviousPost {
                                                            background-color: $color1;
                                                            margin: 0 100px 20px 20px;
                                                            padding: 20px;
                                                            &:hover {
                                                                      background-color: $color5;
                                                                      transition: 0.25s;
                                                            }
                                                            &:not(:hover) {
                                                                      background-color: $color1;
                                                                      transition: 0.1s;
                                                            }
                                                  }
                                                  .SeeNextPost {
                                                            background-color: $color1;
                                                            margin: 0 20px 20px 100px;
                                                            padding: 20px;
                                                            text-align: right;
                                                            &:hover {
                                                                      background-color: $color5;
                                                                      transition: 0.25s;
                                                            }
                                                            &:not(:hover) {
                                                                      background-color: $color1;
                                                                      transition: 0.1s;
                                                            }
                                                  }
                                                  .top-text {
                                                            font-weight: bold;
                                                            font-size: 2.7vw;
                                                            margin-bottom: 5px;
                                                  }
                                                  .bottom-text {
                                                            font-style: italic;
                                                            font-size: 2.6vw;
                                                  }
                                                  a {
                                                            text-decoration: none;
                                                            color: $white;
                                                  }   
                                        }
                              }
                    }
          }
}

@media only screen and (min-width: 822px) {
          #BlogPosts {
                    #Post {
                              .BlogPostImage {
                                        width: calc(75vw - 100px);
                              }
                              .BlogPostDetails {
                                        .Title {
                                                  font-size: 4.5vw;
                                        }
                                        .Date {
                                                  font-size: 14px;
                                        }
                                        .TagList {
                                                  display: flex;
                                                  flex-direction: column;
                                                  .TagName {
                                                            background-color: $color3;
                                                            margin: 5px auto 5px 20px;
                                                            padding: 5px;
                                                            font-size: 13.563px;
                                                  }
                                        }
                                        .Content {
                                                  font-size: 17.861px;
                                                  .image-caption {
                                                            font-size: 14px;
                                                  }
                                        }
                                        .PrevNextPosts {
                                                  .SeePreviousPost {
                                                            width: 400px;
                                                            margin: 0 100px 30px 20px;
                                                  }
                                                  .SeeNextPost {
                                                            width: 400px;
                                                            margin: 0 20px 30px auto;
                                                  }
                                                  .top-text {
                                                            font-size: 18px;
                                                  }
                                                  .bottom-text {
                                                            font-size: 16px;
                                                  }                                          
                                        }
                              }
                    }
          }
}

@media only screen and (min-width: 1025px) {
          #BlogPosts {
                    #Post {
                              .BlogPostImage {
                                        width: 668.75px;
                              }
                              .BlogPostDetails {
                                        .Title {
                                                  font-size: 46.125px;
                                        }
                              }
                    }
          }
}