@import "layout-default";

@media only screen and (min-width: 822px) {
          #ProjectsContainer {
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-areas:
                              "overview overview"
                              "projects-posts widgets";
          }
          #ProjectsOverview {
                    grid-area: overview;
          }
          #ProjectsPosts {
                    grid-area: projects-posts;
          }
          #Widgets {
                    grid-area: widgets;
          }
}