@media screen {
          body {
                    min-width: 365px;
                    max-width: 1025px;
                    margin: auto;

                    background-color: $color1;
                    font-family: $font3;
                    font-size: $font-size;
                    color: $white;

                    overflow-x: hidden;
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    // custom scrollbar
                    &::-webkit-scrollbar {
                              width: 12px;
                    }
                    &::-webkit-scrollbar-track {
                              background: #f2f2f2;
                    }
                    &::-webkit-scrollbar-thumb {
                              background-color: $color4;
                              border-radius: 20px;
                              border: 2px solid $color3;
                    }

                    // make texts unselectable
                    -webkit-user-select: none;    /* Safari */
                    -moz-user-select: none;       /* Firefox */
                    -ms-user-select: none;        /* IE10+/Edge */
                    user-select: none;            /* Standard */
          }
          * {
                    scrollbar-width: thin;
                    scrollbar-color: $color4 #f2f2f2;
                    
          }
          a {
                    text-decoration: none;
          }
          h1,h2,h3 {
                    font-family: $font2;
          }
}